fastapi
uvicorn
pydantic
PyJWT
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.3.2
requests
joblib
langchain==0.2.14
langchain-nvidia-ai-endpoints
langchain-community==0.2.12
chromadb
sentence-transformers
python-dotenv
pypdf
langchain-text-splitters==0.2.2
